<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.screenshot.ITestListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Test">

		<classes>
			<class name="com.jenky.TestClass1" />
			<class name="com.jenky.TestClass2" />
			<class name="com.jenky.TestClass3" />
			<class name="com.screenshot.TestClass" />
			<class name="com.jenky.LoggerDemo" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
